<%= form_for [@forum_thread, @forum_thread.comments.build] do |f| %>
  <div class="form_comment">
    <div class="form-group">
      <%= f.text_area :body, placeholder: "Текст комментария", rows: 10, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Оставить комментарий", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<hr>

<h2>Комментарии: </h2>


<% Comment.where(forum_thread_id: @forum_thread.id).each do |comment| %>
  <div class="alert alert-light" id="cmnt_<%= comment.id %>">
    <p><strong>
      <% user = User.find_by(id: comment.user_id) %>
      <%= user ? user.nickname : "Удалённый пользователь" %>
    </strong>:  

    <span id="comment_<%= comment.id %>"><%= comment.body %></span> 

    <% if current_user == comment.user || current_user.role == "admin" || current_user.role == "moder"%>
    <br>
      <button class="edit-comment" data-comment-id="<%= comment.id %>">
          <span class="glyphicon glyphicon-pencil"></span>
      </button>

    <% end %>
    </p>
  </div>
<% end %>


